<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788262162536-5d09nm3apg4mmdtcol797e8dtnmisg6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788262162536-5d09nm3apg4mmdtcol797e8dtnmisg6q</string>
	<key>API_KEY</key>
	<string>AIzaSyADNL0yKVXnWk7MElJqZoo7Qbb8BG8cNvc</string>
	<key>GCM_SENDER_ID</key>
	<string>788262162536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pt.masaksendiri.chattapp-Kamilia-Latifah</string>
	<key>PROJECT_ID</key>
	<string>chatapp-kamilia-latifah</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-kamilia-latifah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788262162536:ios:04db6555ba2b92300aebdd</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-kamilia-latifah.firebaseio.com</string>
</dict>
</plist>